html, body {
    margin: 0px;
    background-color: #2F4F30;
    color: white;
}

.title {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.card {
    width: 150px;
    left: 100px;
    margin-left: -75px;
}

.container-cards{
    display: flex;
    justify-content: left;
    gap: 15px;
    height: 220px;
}